@import "../../css/mixins/fonts-mixin.scss";

.footer{

  &__community{
    background: var(--dark-color-08);
    border-radius: var(--border-radius-12);
    box-shadow: var(--border-dark-15);
    display: flex;
    flex-direction: row;
    padding: var(--gap-20);
    gap: var(--gap-20);


  }

  &__community-block{
    background: var(--dark-color-10);
    border-radius: var(--border-radius-12);
    box-shadow: var(--border-dark-15);
    display: flex;
    flex-direction: column;
    padding: var(--gap-40);
    gap: var(--gap-20);
  }

  &__community-name{
    @include inter-medium;
    font-size: var(--font-size-22);
    color: var(--absolute-color-white);
    display: flex;
    gap: var(--gap-20);
    justify-content: space-between;
    align-items: center;
  }

  &__community-button{
    display: inline-flex;    // Возвращает желаемое поведение
    align-items: center;     // Выравнивание содержимого
    line-height: 1;
    background: var(--yellow-color-55);
    padding: var(--gap-14);
    margin: 0;
    border: none;
    box-sizing: border-box;
    fill: black;

    border-radius: 50%;


  }

  &__nav-bar{
    padding: 0;
    box-shadow: none;
  }

  &__chapters{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, 1fr);
    gap: var(--gap-80);
    padding-bottom: var(--gap-80);
    box-shadow: 0 -1px 0 0 inset var(--dark-color-20);
    align-items: start;
  }

  &__chapter{
    display: flex;
    flex-direction: column;
    gap: var(--gap-36);
    width: 100%;
  }

  &__chapter-heading-text{
    @include inter-medium;
    font-size: var(--font-size-20);
    line-height: 1.3em;
    color: var(--absolute-color-white);
    text-decoration: none;
  }

  &__chapter-links{
    display: flex;
    flex-direction: column;
    gap: var(--gap-18);

  }

  &__chapter-link{
    text-decoration: none;
    @include inter-regular;
    font-size: var(--font-size-18);
    line-height: 1.3em;
    color: var(--dark-color-40);
    display: flex;
    align-items: center;
    gap: var(--gap-8);

  }

  &__chapter-link-new {
    &:after {
      content: "New";
      @include inter-regular;
      font-size: var(--font-size-16);
      background: var(--dark-color-10);
      border-radius: var(--border-radius-6);
      border: 1px solid transparent;
      padding: calc(var(--gap-4) - 1px) calc(var(--gap-12) - 1px);
      display: inline-block;
      background: linear-gradient(var(--dark-color-10), var(--dark-color-10) 0) padding-box,
      linear-gradient(123deg, var(--dark-color-15) 36%, #FFD119 100%) border-box;
      box-sizing: border-box;
    }
  }

  &__chapter-resources-link{
    width: fit-content;
    padding: var(--gap-10) var(--gap-16);
    box-sizing: border-box;
    text-decoration: none;
    @include inter-regular;
    font-size: var(--font-size-18);
    line-height: 1.3em;
    color: var(--dark-color-40);
    display: flex;
    align-items: center;
    gap: var(--gap-10);
    background: var(--dark-color-08);
    box-shadow: var(--border-dark-15);
    border-radius: var(--border-radius-8);
  }

  &__legal-information{

  }

  &__information{
    padding: var(--gap-40) 0;
    @include inter-regular;
    font-size: var(--font-size-18);
    line-height: 1.3em;
    border: none;
  }

  &__information-TAP{
    display: flex;



    *:first-child::after {
      content: "";
      display: inline-block;
      width: 1px;
      height: 100%;
      background-color: var(--gray-color-50);
      margin-left: var(--gap-11);
      margin-right: var(--gap-11);
      vertical-align: middle; /* Устраняет ступеньку */
    }
  }

  &__information-social{
    display: flex;
    gap: var(--gap-20);
  }

  &__information-copyrite{

  }
}

@media (width<=1280px){
  .footer{
    &__chapters {
      display: grid;
      grid-template-rows: repeat(3,1fr);
      grid-template-columns: repeat(2,1fr);
    }
    &__chapter:last-child {
      grid-column: span 2; // Последний элемент занимает обе колонки

      .footer__chapter-links{
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
    &__community {
      flex-direction: column;
    }
    &__information{
      flex-direction: column;



      &-social{
        order: 1;
      }
      &-TAP {
        order: 2;
      }
      &-copyrite{
        order: 3;
      }
    }
  }
}