@import "../../../css/mixins/fonts-mixin.scss";

.resours{

  &__header{
    display: flex;
    flex-direction: column;
    gap: var(--gap-60);
  }

  &__header-top{
    display: flex;
    flex-direction: column;
    gap: var(--gap-50);
  }

  &__name-caption{
    display: flex;
    flex-direction: column;
    gap: var(--gap-16);
  }

  &__caption{
    font-size: var(--font-size-20);
  }

  &__downloaded-users {
    width: fit-content;

    padding: var(--gap-10) var(--gap-10) var(--gap-10) calc(var(--gap-10) + 15px);
    background: var(--dark-color-08);
    border-radius: var(--border-radius-12);
  }

  &__downloaded-count{
    @include inter-semi-bold;
    font-size: var(--font-size-24);
    color: var(--absolute-color-white);
  }

  &__downloaded-users-block {
    position: relative;
    display: flex;
  }

  &__user {
    width: 50px; /* Размер изображения */
    height: 50px;
    border-radius: 50%; /* Круглая форма */
    box-shadow: 0 0 1px 1px inset var(--dark-color-40); /* Белая рамка */
    position: relative; /* Для наложения */
    margin-left: -15px; /* Отрицательный отступ для перекрытия */

    /* z-index зависит от порядка элемента */
    z-index: auto; /* Браузер сам управляет перекрытием */
  }

  &__header-bottom{
    width: fit-content;
    background: var(--dark-color-10);
    box-shadow: var(--border-dark-15);
    border-radius: var(--border-radius-13);
    padding: var(--gap-30);
    gap: var(--gap-50);
    display: flex;
    flex-direction: row;
  }

  &__main {
    gap: var(--gap-30);
  }

  &__heading{
    display: flex;
    justify-content: space-between;
    gap: var(--gap-20);
  }

  &__heading-name{
    display: inline-block;
    width: 242.5px;
    flex-shrink: 0;
    @include inter-semi-bold;
    font-size: var(--font-size-24);
    white-space: nowrap;
    color: var(--absolute-color-white);
  }


  &__main-img{
    width: 100%;
    height: 332px;
    border-radius: var(--border-radius-12);
  }

  &__total-format{
    display: flex;
    flex-direction: row;
    gap: var(--gap-20);
  }

  &__author-expertise,
  &__format,
  &__total{
    background: var(--dark-color-10);
    box-shadow: var(--border-dark-15);
    border-radius: var(--border-radius-13);
    padding: var(--gap-30);
    display: flex;
    gap: var(--gap-4);
    flex-direction: column;
  }

  &__format{
    flex-direction: row;
    flex-grow: 1;
    gap: var(--gap-20);
    justify-content: space-between;
    white-space: nowrap;
  }

  &__format-text-container{
    display: flex;
    gap: var(--gap-4);
    flex-direction: column;
  }

  &__total-text,
  &__format-text{
    @include inter-semi-bold;
    font-size: var(--font-size-20);
    color: var(--absolute-color-white);
  }

  &__author-expertise-text{
    @include inter-medium;
    font-size: var(--font-size-20);
    color: var(--absolute-color-white);
  }
}

@media (width<=1600px){
  .resours{

    &__heading-name{
      width: 203px;
    }


    &__main-img{
      height: 275px;
    }


  }
}

@media (width<=1280px) {
  .resours {

    &__heading{
      flex-direction: column;
    }

    &__main-img {
      height: 169px;
    }
    &__total-format{
      flex-direction: column;
    }

  }

}