@import "../../mixins/fonts-mixin.scss";

@mixin block($width,$height,$border-radius,$background,$padding){
  width: $width;
  height: $height;
  border-radius: $border-radius;
  background: $background;
  display: flex;
  flex-direction: column;
  padding: $padding;
}

.live-market{
  @include block(100%,100%,var(--border-radius-1),var(--primary-color-2),30px 24px 25px 30px);
  gap: var(--gap-20);


  &__grid{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: var(--gap-12) 0;
  }

  &__grid-item{

    &--atribute-name{
      @include font-12-normal;
      min-width: 100px;
    }
    &--standard-value{
      @include font-14-normal;
      min-width: 50px;
    }
    &--change-value{
      @include font-14-medium;
      color: var(--font-color-4);
      min-width: 50px;
    }
    &--coin-value{
      @include font-14-medium;
      gap: var(--gap-10);
      display: flex;
      align-items: center;
      min-width: 100px;
      justify-items: left;
    }
    &--coin-icon{
      width: 32px;
      height: 32px;
    }
    &--coin-name{
      min-width: 100px;
    }
  }

  &__grid-change{

  }

  &__grid-name{

  }

  &__grid-icon{

  }
}
@media (width<800px) {
  .live-market {
    overflow: auto;
    &__grid{
      overflow: auto;
      gap: 8px;
    }
  }
}