@import "../../../css/mixins/fonts-mixin.scss";

.post{

  &__filters{
    display: flex;
    align-items: center;
    padding: var(--gap-50);
    gap: var(--gap-20);
    overflow: auto;
    scroll-behavior: smooth;

    &::-webkit-scrollbar{
      display: none;
    }
  }

  &__filter{
    width: 100%;
    padding: var(--gap-30) var(--gap-24);
    gap: var(--gap-10);
    border-radius: var(--border-radius-8);
    box-shadow: var(--border-dark-15);
    color: var(--gray-color-60);
    background: var(--dark-color-08);
    border: none;
    white-space: nowrap;

    &:hover{
      background: var(--dark-color-10);
      color: var(--absolute-color-white);
    }
  }

  &__container{
    align-items: center;
    gap: var(--gap-50);
  }

  &__user{
    display: flex;
    flex-direction: row;
    gap: var(--gap-16);
    width: 384px;
    align-self: start;
  }

  &__user-img{
    width: 80px;
    height: 80px;
  }

  &__user-info{
    display: flex;
    flex-direction: column;
    gap: var(--gap-2);
  }

  &__user-name{
    @include inter-semi-bold;
    font-size: var(--font-size-20);
    color: var(--absolute-color-white);
  }

  &__main{
    display: flex;
    flex-direction: column;
    gap: var(--gap-30);
    flex-grow: 1;
  }

  &__main-date{
    @include inter-semi-bold;
    font-size: var(--font-size-20);
  }

  &__main-heading{
    @include inter-semi-bold;
    font-size: var(--font-size-26);
    color: var(--absolute-color-white);
  }

  &__main-text{
    display: flex;
    flex-direction: column;
    gap: var(--gap-10);
  }

  &__main-reactions{
    display: flex;
    flex-direction: row;
    gap: var(--gap-10);
  }

  &__main-like,
  &__main-comment,
  &__main-repost{
    display: flex;
    align-items: center;
    @include Sans-regular;
    font-size: var(--font-size-18);
    color: var(--gray-color-60);
    padding: var(--gap-8) var(--gap-16);
    border-radius: 100px;
    gap: var(--gap-4);
    background: var(--dark-color-10);
    box-shadow: var(--border-dark-15);
    border: none;

  }

  &__alt-link{
    display: none;
  }

  &__link{
    display: inline-block;
  }

}

@media (width<=1600px){
  .post{
    &__user-img{
      width: 60px;
      height: 60px;
    }
  }
}

@media (width<=1280px) {
  .post{
    &__user{
      justify-content: space-between;
    }

    &__container{
      flex-direction: column;
    }

    &__alt-link{
      display: inline-block;
    }

    &__link{
      display: none;
    }
  }
}