@charset "UTF-8";
.slider {
  width: 100%;
  gap: var(--gap-2);
  display: flex;
  align-items: center;
  position: relative;
}
.slider__left-button, .slider__right-button {
  position: absolute;
  right: 0;
  flex-grow: 0;
  width: 56px;
  height: 48px;
  padding: 12px 16px 12px 16px;
  gap: 10px;
  border-radius: var(--border-radius-2);
  border: none;
  box-sizing: border-box;
  background: url("../../../public/chevron.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
}
.slider__left-button:hover:not(:disabled), .slider__right-button:hover:not(:disabled) {
  background-color: rgb(218, 218, 218);
}
.slider__left-button:disabled, .slider__right-button:disabled {
  opacity: 0.5;
}
.slider__left-button {
  left: 0px;
  transform: rotate(180deg);
}
.slider__list {
  display: grid;
  grid-auto-flow: column; /* Элементы располагаются в одной строке */
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: auto;
  grid-template-rows: 178px;
  gap: var(--gap-30);
  grid-template-columns: repeat(4, 258px);
}
.slider__mask-gradient {
  width: fit-content;
  width: 50%;
  flex-grow: 1;
  height: 100%;
  gap: 0px;
  mask-image: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, #000000 3.64%, #000000 96.36%, rgba(0, 0, 0, 0) 100%);
}
.slider__mask-gradient-overlay {
  width: 100%;
  height: 100%;
  left: 88px;
  gap: 0px;
}
.slider__list-item {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-1);
  background: var(--primary-color-2);
  display: flex;
  flex-direction: column;
  padding: 23px 18px 24px 19px;
  display: grid;
  gap: var(--gap-20);
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 44px 27px 59px 32px;
}
.slider__item-icon {
  grid-column: span 1;
  width: 44px;
  height: 44px;
  border-radius: var(--border-radius-1);
  background: var(--primary-color-1);
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.slider__item-name {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  gap: var(--gap-6);
}
.slider__item-name--full {
  font-size: var(--font-size-16);
  font-weight: 600;
  color: var(--font-color-1);
  line-height: normal;
}
.slider__item-name--short {
  font-size: var(--font-size-12);
  font-weight: 400;
  color: var(--font-color-1);
  line-height: normal;
}
.slider__item-arrow-block {
  grid-column: span 1;
  grid-row: span 1;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: right;
}
.slider__item-price {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  gap: var(--gap-12);
}
.slider__item-price--current {
  font-size: var(--font-size-21);
  font-weight: 600;
  color: var(--font-color-2);
  line-height: normal;
}
.slider__item-price--different-up {
  font-size: var(--font-size-14);
  font-weight: 600;
  color: var(--font-color-1);
  line-height: normal;
  color: var(--font-color-4);
}
.slider__item-price--different-down {
  font-size: var(--font-size-14);
  font-weight: 600;
  color: var(--font-color-1);
  line-height: normal;
  color: var(--font-color-5);
}
.slider__item-graph {
  grid-column: span 2;
}

/*# sourceMappingURL=slider.css.map */
