@charset "UTF-8";
@import "./code-block/code-block.css";
.content__item {
  list-style: none;
}

.chapter {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.chapter__step {
  width: 24px;
  position: relative;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chapter__circle {
  z-index: 1;
  position: absolute;
  top: 25px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--secondary-color-1);
  position: relative;
}
.chapter__circle::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: var(--secondary-color-4);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 4px var(--shadow-color-1);
  transition: transform 1.3s ease, box-shadow 1.3s ease, width 0.2s ease, height 1.5s ease;
}
.chapter__circle:hover::after {
  width: 20px;
  height: 20px;
  box-shadow: 1px 1px 18px var(--shadow-color-1);
}
.chapter__divider {
  position: absolute;
  top: 25px;
  width: 3px;
  height: 100%;
  border-radius: 1px;
  border: 3px solid var(--secondary-color-1);
}
.chapter__details {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 20px;
  flex-grow: 1;
  gap: 16px;
}
.chapter__name {
  font-size: var(--font-size-2);
  font-weight: 400;
  color: var(--secondary-color-4);
}
.chapter__description {
  white-space: pre-wrap; /* Чтобы переносы строк сохранялись */
  font-size: var(--font-size-4);
  font-weight: 400;
  color: var(--secondary-color-4);
  line-height: 1.5;
  letter-spacing: 0.5px;
  position: relative;
}
.chapter__description::after {
  content: "|";
  font-weight: bold;
  animation: blink 1s infinite;
  color: var(--secondary-color-4);
}
.chapter__description.typing-complete::after {
  content: ""; /* Убираем курсор после окончания печати */
}
.chapter__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
}
.chapter__chapter-grid {
  display: grid;
  list-style: none;
}

.chapter-grid--one-line {
  grid-template-rows: 100px;
  grid-template-columns: repeat(auto-fill, 23.5%);
  justify-content: space-between;
}
.chapter-grid--many-lines {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  justify-content: space-between;
  height: 1fr;
}
.chapter-grid__toggle-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
.chapter-grid__toggle-btn:hover {
  background-color: #0056b3;
}
.chapter-grid__item {
  border: 1px solid #333;
  background: #1e1e1e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.chapter-grid__item:first-child {
  border-radius: 8px 0 0 8px;
}
.chapter-grid__item:last-child {
  border-radius: 0 8px 8px 0;
}
.chapter-grid__section-text {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.chapter-grid__section--solo, .chapter-grid__section--two-gorizontal, .chapter-grid__section--two-vertical, .chapter-grid__section--list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 8px;
  font-size: var(--font-size-3);
  font-weight: 400;
  color: var(--secondary-color-4);
}
.chapter-grid__section--solo {
  flex-direction: row;
}
.chapter-grid__section--two-gorizontal {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 1fr;
  flex-direction: column;
}
.chapter-grid__section--two-gorizontal .chapter-grid__section-text:first-child {
  border-right: 2px solid bisque;
  border-bottom: none;
}
.chapter-grid__section--two-vertical {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 50%);
  flex-direction: column;
}
.chapter-grid__section--two-vertical .chapter-grid__section-text:first-child {
  border-bottom: 2px solid bisque;
  border-right: none;
}
.chapter-grid__section--list {
  flex-direction: column;
}

.project {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.project__card {
  display: flex;
  flex-direction: column;
  border: 1px solid #333;
  background: #1e1e1e;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: relative;
  height: 300px;
  overflow: hidden;
}
.project__img {
  width: 100%;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: height 1.3s ease;
  max-height: 120px;
  overflow: hidden;
}
.project__overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 1;
  pointer-events: none;
  width: 100%;
  height: 120px;
  font-size: var(--font-size-3);
  font-weight: 400;
  color: var(--secondary-color-4);
  padding: 8px;
  display: flex;
  justify-content: space-between;
}
.project__badges {
  display: flex; /* Используйте flex для расположения значков */
  gap: 8px; /* Отступы между значками */
  z-index: 2; /* Обеспечьте, чтобы значки были поверх описания */
}
.project__badge {
  width: 24px;
  height: 24px;
}
.project__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 20px;
  transition: height 1s ease;
  font-size: var(--font-size-4);
  font-weight: 400;
  color: var(--secondary-color-4);
  flex-grow: 1;
  overflow: hidden;
  z-index: 1;
}
.project__description-text {
  display: -webkit-box; /* Установка отображения в виде блочной модели для обрезки */
  -webkit-box-orient: vertical; /* Вертикальная ориентация */
  -webkit-line-clamp: 3; /* Указание количества строк для обрезки */
  overflow: hidden; /* Скрытие переполнения */
  text-overflow: ellipsis; /* Добавление многоточия */
  transition: max-height 0.3s ease;
}
.project__links-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10%;
}
.project__card:hover .project__description {
  height: auto;
}
.project__card:hover .project__description-text {
  -webkit-line-clamp: unset; /* Сбросить ограничение на количество строк */
}
.project__card:hover .project__img {
  height: 40px;
}
.project__button {
  width: 45%;
  max-width: 129px;
  height: 38px;
  background: var(--secondary-color-1);
  border-radius: 8px;
  border: 1px solid #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: var(--font-size-3);
  font-weight: 400;
  color: var(--secondary-color-4);
}/*# sourceMappingURL=content.css.map */