@import "../../mixins/fonts-mixin.scss";
@import "./code-block/code-block.css";

.content {

    &__item{
        list-style: none;
    }
    
}

.chapter {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;   

    &__step {
        width: 24px;
        position: relative;
        min-height: 15vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }   

    &__circle {
        z-index: 1;
        position: absolute;
        top: 25px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: var(--secondary-color-1);
        position: relative; // Чтобы позиционировать псевдоэлемент относительно родителя
    
        &::after {
            content: "";
            width: 10px;
            height: 10px; // Высота равна высоте родителя
            background-color: var(--secondary-color-4);
            border-radius: 50%; // Чтобы сделать круг
            position: absolute;
            top: 50%; // Начальная позиция по центру
            left: 50%;
            transform: translate(-50%, -50%); // Центрируем круг
            box-shadow: 0 0 4px var(--shadow-color-1); // Неоновый эффект
            transition: 
                transform 1.3s ease, 
                box-shadow 1.3s ease, 
                width 0.2s ease, 
                height 1.5s ease; // Плавный переход для изменения размера
    }
    
        &:hover::after { // Добавляем эффект наведения для псевдоэлемента
            width: 20px;
            height: 20px; // Перемещаем вниз на всю высоту родителя с небольшим отступом
            box-shadow: 1px 1px 18px var(--shadow-color-1); // Увеличиваем неоновый эффект
        }
    }
       
    &__divider {
        position: absolute;
        top: 25px;
        width: 3px;
        height: 100%;
        border-radius: 1px;
        border: 3px solid var(--secondary-color-1);

        
    }

    
    &__details {
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 20px;
        flex-grow: 1;
        gap: 16px;
    }

    &__name{
        @include main-font-2;

    }

    &__description{
        white-space: pre-wrap; /* Чтобы переносы строк сохранялись */
        @include main-font-4;
        line-height: 1.5;
        letter-spacing: 0.5px;
        position: relative;

        &::after {
            content: "|";
            font-weight: bold;
            animation: blink 1s infinite;
            color: var(--secondary-color-4);
        }
    }
    &__description.typing-complete::after {
        content: ""; /* Убираем курсор после окончания печати */
    }
    &__list{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 16px;
        justify-content: space-between;
        
    }
    &__chapter-grid{
        display: grid;
        list-style: none;
        
        
    }
}

.chapter-grid{
    &--one-line{
        grid-template-rows: 100px;
        grid-template-columns: repeat(auto-fill, 23.5%);
        justify-content: space-between;
    }

    &--many-lines{
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        justify-content: space-between;
        height: 1fr;
    }

    &__toggle-btn {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        cursor: pointer;
    
        &:hover {
            background-color: #0056b3;
        }
    }

    &__item{
        border: 1px solid #333;
        background: #1e1e1e;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        
        &:first-child{
            border-radius: 8px 0 0 8px;
        }

        &:last-child{
            border-radius: 0 8px 8px 0;
        }
    }
    
    &__section-text{
        width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
    }

    &__section{
        &--solo, &--two-gorizontal, &--two-vertical, &--list{           
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;    
            padding: 8px;
            @include main-font-3;      
        }

        &--solo{
            flex-direction: row;

        }

        &--two-gorizontal {
            display: grid;
            grid-template-columns: repeat(2, 50%);
            grid-template-rows: 1fr;
            flex-direction: column;
        }
          

        &--two-gorizontal &-text:first-child{
            border-right: 2px solid bisque;
            border-bottom: none;
        }

        &--two-vertical{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 50%);
            flex-direction: column;
        }

        &--two-vertical &-text:first-child{
            border-bottom: 2px solid bisque;
            border-right: none;
        }

        &--list{
            flex-direction: column; 

        }

    }
}

.project {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__card {
        display: flex;
        flex-direction: column;
        border: 1px solid #333;
        background: #1e1e1e;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        position: relative;
        height: 300px; // Задайте фиксированную высоту карточки
        overflow: hidden; // Скрыть переполнение

        &::before {
            
        }
    }

    &__img {
        width: 100%;
        height: 120px; // Фиксированная высота для изображения
        object-fit: cover;
        transition: height 1.3s ease; // Плавное изменение высоты
        max-height: 120px; // Ограничьте максимальную высоту изображения
        overflow: hidden;
    }

    &__overlay{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
        z-index: 1; // Убедись, что он выше
        pointer-events: none; // Отключение взаимодействия
        width: 100%;
        height: 120px; // Фиксированная высота для изображения
        @include main-font-3;
        padding: 8px;
        display: flex;
        justify-content: space-between;
    }

    &__badges {
        display: flex; /* Используйте flex для расположения значков */
        gap: 8px; /* Отступы между значками */
        z-index: 2; /* Обеспечьте, чтобы значки были поверх описания */
    }

    &__badge {
        width: 24px;
        height: 24px;
    }

    &__description {
        display: flex;
        flex-direction: column;
        justify-content: space-between; // Измените на space-between, чтобы разместить текст и ссылки по разным концам
        gap: 10px; // Уменьшите промежутки для большего контроля
        padding: 20px;
        transition: height 1.0s ease;
        @include main-font-4;// Плавный переход
        flex-grow: 1; // Используйте flex-grow для заполнения оставшегося пространства
        overflow: hidden; // Скрыть переполнение
        z-index: 1;
    }

    &__description-text {
        display: -webkit-box; /* Установка отображения в виде блочной модели для обрезки */
        -webkit-box-orient: vertical; /* Вертикальная ориентация */
        -webkit-line-clamp: 3; /* Указание количества строк для обрезки */
        overflow: hidden; /* Скрытие переполнения */
        text-overflow: ellipsis; /* Добавление многоточия */
        transition: max-height 0.3s ease; // Плавное изменение высоты текста
    }

    &__links-block {
        width: 100%;
        display: flex;
        justify-content: space-between; // Выравнивание по концу
        align-items: center; // Вертикальное выравнивание по центру
        gap: 10%;
    }

    &__card:hover &__description {
        height: auto; // Позволяет тексту занимать необходимое пространство
    }

    &__card:hover &__description-text {
        -webkit-line-clamp: unset; /* Сбросить ограничение на количество строк */

    }

    &__card:hover &__img {
        height: 40px; // Убедитесь, что высота изображения убирается
    }

    &__button {
        width: 45%;
        max-width: 129px;
        height: 38px; // Убедитесь, что высота кнопок фиксирована
        background: var(--secondary-color-1);
        border-radius: 8px;
        border: 1px solid #333;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        @include main-font-3;
    }
}
