@import "../mixins/fonts-mixin";
.sidebar{
  width: 256px;
  height: 100vh;
  background: var(--primary-color-2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @include font-16-semi-bold;
  padding: 32px 31px 32px 28px;
  box-sizing: border-box;
  gap: 50px;
  position: sticky;
  top: 0; // Необходимо указать отступ сверху



  &__logo{
    width: 170px;
    height: 41px;
    display: flex;
    align-items: center;
    gap: var(--gap-20);
    @include font-21-medium;
  }

  &__nav-block{
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-grow: 1;
  }

  &__buttons-block{
    display: flex;
    flex-direction: column;
    gap: var(--gap-16);
  }

  &__link,
  &__button{
    width: 197px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: left;
    background: none;
    border: none;
    padding: 13px 19px 12px;
    box-sizing: border-box;
    gap: var(--gap-20);
    border-radius: var(--border-radius-2);
    @include font-14-normal;

    &:hover{
      background: var(--primary-color-3);
      @include font-14-semi-bold;
    }
  }
}

@media (width<1440px) {
  .sidebar{
    padding: 26px 25px 26px 20px;
    gap: 40px;

    &__logo{
      width: 160px;
      height: 40px;
    }

    &__link,
    &__button {
      width: 160px;
      height: 40px;
      padding: 11px 15px 10px;
    }
  }
}

@media (width<1000px) {
  .sidebar{
    padding: 20px 19px 20px 16px;

    &__logo{
      width: 140px;
      height: 30px;
    }

    &__link,
    &__button {
      width: 140px;
      height: 30px;
      padding: 9px 12px 8px;
    }
  }
}
@media (width<800px){
  .sidebar{
    display: none;
  }
}