@mixin font-32-semi-bold{
    font-size: var(--font-size-32);
    font-weight: 600;
    color: var(--font-color-1);
    line-height: normal;
}

@mixin font-21-semi-bold{
    font-size: var(--font-size-21);
    font-weight: 600;
    color: var(--font-color-2);
    line-height: normal;
}

@mixin font-21-medium{
    font-size: var(--font-size-21);
    font-weight: 500;
    color: var(--font-color-1);
    line-height: normal;
}

@mixin font-18-semi-bold{
    font-size: var(--font-size-18);
    font-weight: 600;
    color: var(--font-color-2);
    line-height: normal;
}

@mixin font-18-medium{
    font-size: var(--font-size-18);
    font-weight: 500;
    color: var(--font-color-1);
    line-height: normal;
}

@mixin font-16-semi-bold{
    font-size: var(--font-size-16);
    font-weight: 600;
    color: var(--font-color-1);
    line-height: normal;
}

@mixin font-16-medium{
    font-size: var(--font-size-16);
    font-weight: 500;
    color: var(--font-color-1);
    line-height: normal;
}

@mixin font-16-normal{
    font-size: var(--font-size-16);
    font-weight: 400;
    color: var(--font-color-3);
    line-height: normal;
}

@mixin font-14-semi-bold{
    font-size: var(--font-size-14);
    font-weight: 600;
    color: var(--font-color-1);
    line-height: normal;
}

@mixin font-14-medium{
    font-size: var(--font-size-14);
    font-weight: 500;
    color: var(--font-color-1);
    line-height: normal;
}

@mixin font-14-normal{
    font-size: var(--font-size-14);
    font-weight: 400;
    color: var(--font-color-3);
    line-height: normal;
}

@mixin font-12-medium{
    font-size: var(--font-size-12);
    font-weight: 400;
    color: var(--font-color-1);
    line-height: normal;
}

@mixin font-12-normal{
    font-size: var(--font-size-12);
    font-weight: 400;
    color: var(--font-color-1);
    line-height: normal;
}

@mixin font-10-medium{
    font-size: var(--font-size-10);
    font-weight: 500;
    color: var(--font-color-2);
    line-height: normal;
}
