@charset "UTF-8";
.slider {
  width: 100%;
  gap: var(--gap-32);
  padding: 32px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.slider__menu-item {
  width: 100%;
  gap: var(--gap-32);
  display: flex;
}
.slider__title {
  font-size: var(--font-24);
  line-height: var(--line-height-24);
  font-weight: 700;
  text-align: center;
  color: rgb(245, 244, 244);
}
.slider__week, .slider__day {
  padding: 0;
  font-size: var(--font-16);
  line-height: var(--line-height-16);
  font-weight: 700;
  text-align: center;
  color: rgb(166, 166, 166);
  background: none;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
  font-variant-numeric: lining-nums;
  border-radius: 0;
}
.slider__week.select, .slider__day.select {
  border-bottom: 2px solid rgb(245, 244, 244);
  color: rgb(245, 244, 244);
}
.slider__week:hover:not(.select), .slider__day:hover:not(.select) {
  border-bottom: 2px solid rgb(166, 166, 166);
  color: rgb(166, 166, 166);
}
.slider__week:focus, .slider__day:focus {
  outline: none;
}
.slider__switch {
  width: 100%;
  gap: var(--gap-32);
  display: flex;
  align-items: center;
}
.slider__left-button, .slider__right-button {
  flex-grow: 0;
  width: 56px;
  height: 48px;
  padding: 12px 16px 12px 16px;
  gap: 10px;
  border-radius: 8px;
  background: rgba(245, 244, 244, 0.4);
  border: none;
  box-sizing: border-box;
  background: url("../../../assets/chevron.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(245, 244, 244, 0.4);
}
.slider__left-button:focus, .slider__right-button:focus {
  outline: none;
}
.slider__left-button:hover:not(:disabled), .slider__right-button:hover:not(:disabled) {
  background-color: rgb(218, 218, 218);
}
.slider__left-button:disabled, .slider__right-button:disabled {
  opacity: 0.5;
}
.slider__left-button {
  transform: rotate(180deg);
}
.slider__mask-gradient {
  width: fit-content;
  width: 50%;
  flex-grow: 1;
  height: 100%;
  gap: 0px;
  mask-image: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, #000000 3.64%, #000000 96.36%, rgba(0, 0, 0, 0) 100%);
}
.slider__mask-gradient-overlay {
  width: 100%;
  height: 100%;
  left: 88px;
  gap: 0px;
}
.slider__list {
  width: 100%;
  height: 100%;
  gap: var(--gap-16);
  display: grid;
  grid-auto-flow: column; /* Элементы располагаются в одной строке */
  grid-template-rows: 1fr; /* Одна строка */
  grid-auto-columns: max-content; /* Колонки подстраиваются под контент */
  overflow-x: hidden;
  scroll-behavior: auto;
  /*mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);*/
}
.slider__item {
  height: 100%;
  padding: 16px;
  gap: 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  background: rgba(245, 244, 244, 0.4);
  box-sizing: border-box;
  font-variant-numeric: lining-nums;
  white-space: nowrap; /* Запрещает перенос строк */
  overflow: hidden; /* Скрывает содержимое, если оно выходит за границы */
}
.slider__item-degrees, .slider__item-time {
  width: max-content;
  display: flex;
  font-family: Raleway;
  font-size: var(--font-size-16);
  line-height: var(--line-height-16);
  font-weight: 400;
  text-align: left;
  font-variant-numeric: lining-nums;
  color: rgb(32, 32, 32);
}
.slider__item-img {
  width: 32px;
  height: 32px;
}

@media (width <= 1120px) {
  .slider {
    padding: 24px;
  }
  .slider__menu-item {
    height: 32px;
  }
}
@media (width <= 838px) {
  .slider__item {
    flex-direction: column;
  }
}
@media (width <= 720px) {
  .slider {
    padding: 16px;
  }
  .slider__menu-item {
    height: 22px;
  }
  .slider__left-button, .slider__right-button {
    flex-grow: 0;
    width: 40px;
    height: 32px;
  }
  .slider__item {
    flex-direction: row;
    gap: 12px;
    padding: 12px;
  }
  .slider__item-img {
    width: 24px;
    height: 24px;
  }
}
@media (width <= 608px) {
  .slider__item {
    flex-direction: column;
  }
}

/*# sourceMappingURL=Slider.css.map */
