@import "../../css/mixins/fonts-mixin.scss";

.heading{
  display: flex;
  flex-direction: column;

  &__main{
    display: flex;
    flex-direction: column;
    gap: var(--gap-100);
    padding: 0;
  }

  &__main-block{
    display: flex;
    justify-content: end;
    align-self: end;
    padding: 0;
  }

  &__main-block-text{
    display: flex;
    flex-direction: column;
    width: 893px;
    margin: var(--gap-150) var(--gap-50) 0 0;
  }

  &__main-quote{
    @include Sans-medium;
    font-size: var(--font-size-30);
    color: var(--border-dark-40);
  }

  &__main-titel{
    @include Sans-medium;
    font-size: var(--font-size-70);
    color: var(--absolute-color-white);

  }

  &__main-caption{
    color: var(--gray-color-50);
  }

  &__company-stats{
    box-shadow: 0 -1px var(--dark-color-15), 0 1px var(--dark-color-15);
    width: 100%;
    justify-content: end;
  }

  &__stats{
    width: 247.67px;
    display: flex;
    flex-direction: column;
    gap:var(--gap-10);
    padding: var(--gap-50) 0;
  }

  &__stats-count{
    @include inter-semi-bold;
    font-size: var(--font-size-40);
    color: var(--absolute-color-white);

    &:after{
      content: " +";
      color: var(--yellow-color-55);
    }
  }

  &__extra {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: var(--gap-30);
    align-items: start;
    padding: var(--gap-80) 0 var(--gap-80) var(--gap-80);
    clip-path: inset(0);
  }

  &__extra-block {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: var(--gap-30);
    overflow: hidden;
    width: 573px;
    z-index: 2;

  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    z-index: 0; /* Чтобы фон или другие элементы не перекрывали изображение */
    clip: auto;
    opacity: 1; /* Немного уменьшить прозрачность */
    mix-blend-mode: screen; /* Усиливает свечение */
    filter: blur(0.5px) brightness(1.5); /* Добавляет мягкое размытие и усиливает яркость */
    transform: translateZ(0);
    /* Быстрое затухание */
    mask-image: radial-gradient(circle, rgba(0, 0, 0, 0.2) 10%, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0.1) 40%);
    mask-position: 100% 100%; /* Смещение вверх */
    mask-size: 200% 200%; /* Пропорции маски */
    mask-repeat: no-repeat;

  }

  &__extra-users {
    width: fit-content;
    padding: var(--gap-10) var(--gap-10) var(--gap-10) calc(var(--gap-10) + 15px);
    background: var(--dark-color-10);
    border-radius: 100px;
    box-shadow: var(--border-dark-15);

  }

  &__extra-users-block {
    position: relative;
    display: flex;
  }

  &__extra-user{
    width: 50px; /* Размер изображения */
    height: 50px;
    border-radius: 50%; /* Круглая форма */
    box-shadow: 0 0 1px 1px inset var(--dark-color-40); /* Белая рамка */
    position: relative; /* Для наложения */
    margin-left: -15px; /* Отрицательный отступ для перекрытия */

    /* z-index зависит от порядка элемента */
    z-index: auto; /* Браузер сам управляет перекрытием */
  }

  &__extra-titel{
    @include inter-medium;
    font-size: var(--font-size-24);
    color: var(--absolute-color-white);
  }

  &__advantage{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-30);
    padding: var(--gap-50) 0;
  }

  &__advantage-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__advantage-text{
    display: flex;
    flex-direction: column;
    gap: var(--gap-4);
  }

  &__advantage-name{
    @include inter-medium;
    font-size: var(--font-size-20);
    color: var(--absolute-color-white);
  }

  &__advantage-second-caption{
    @include Sans-regular;
    font-size: var(--font-size-20);
  }
}

@media (width<=1600px){
  .heading{
    &__main-block-text{
      width: 717px;
    }
    &__extra-block {
      width: 473px;
    }
    &__stats{
      width: 199px;
    }
  }
}

@media (width<=1280px) {
  .heading{
    &__top-block{
      flex-direction: column;
    }
    &__main-block-text{
      width: 100%;
    }
    &__extra-block {
      width: 100%;
    }
    &__stats{
      width: 98px;
    }
    &__company-stats{
      flex-direction: row;
      padding: 0;

      & > * {
        position: relative;
        padding: var(--gap-50) 0;
      }

      & > *:not(:last-child) {
        display: flex;
        justify-content: center;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          right:calc(-1 * var(--gap-50));
          width: 2px;
          height: 100%;
          box-shadow: var(--border-dark-15);
        }
      }
    }
  }
}