@import "../../mixins/fonts-mixin.scss";

.list{
    height: 100%;
    width: 437.33px;
    min-width: 350px;
    background: var(--primary-color-2);
    border-radius: var(--border-radius-1);
    display: flex;
    flex-direction: column;
    padding: var(--gap-2);
    gap: var(--gap-3);
    box-sizing: border-box;

    &__name{
        @include main-font-2;
    }

    &__block{
        max-height: 65vh;
        list-style: none;
        display: flex;
        flex-direction: column; 
        gap: var(--gap-4);
        overflow-y: auto;
        overflow-x: hidden;

        &::-webkit-scrollbar {
            width: 12px; /* Ширина скроллбара */
        }

        &::-webkit-scrollbar-track {
            background: var(--primary-color-2); /* Цвет дорожки */
        }

        &::-webkit-scrollbar-thumb {
            background: #191a1e; /* Цвет ползунка */

            border-radius: 5px; /* Скругление углов ползунка */
        }
    }

    &__add-button.hidden,
    &__yes-button.hidden,
    &__no-button.hidden{
    display: none;
    }
    &__add-button,
    &__yes-button,
    &__no-button{
        min-width: 50px;
        border-radius: var(--border-radius-1);
        border: none;
        background: none;
        gap:var(--gap-3);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:hover {
            background: var(--primary-color-4);
        }
    }

    &__add-button{

        &::before{
            content: "";
            display: block;
            width: 20px;
            height: 20px;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(../../public/add-line.svg);
        }

    }

    &__button-block{
        height: 50px;
        width: 100%;
        display: flex;

    }

    &__input{
        min-height: 100px;
        width: auto;
        border: none;
        background: var(--primary-color-3);
        border-radius: var(--border-radius-1);
        display: flex;
    }

}

.item,
.item.clone
    {
    height: 100%; 
    width: 100%;
    background: var(--primary-color-3);
    border-radius: var(--border-radius-1);
    display: flex;
    flex-direction: column;
    gap: var(--gap-4); // Работает для вертикальных элементов внутри .item
    padding: var(--gap-3);
    align-self: flex-start;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    

    &__tag,
    &__date-time {
        align-self: flex-start;
        border-radius: var(--border-radius-2);
        border: none;
    }

    &__tag {
        padding: 2px 8px;
        &--low-priority{
            @extend .item__tag;
            @include second-font-1;
        }
        &--medium-priority{
            @extend .item__tag;
            @include second-font-2;
        }
        &--high-priority{
            @extend .item__tag;
            @include second-font-3;
        }
        &--highest-priority{
            @extend .item__tag;
            @include second-font-4;
        }
    }

    &__text {
        @include main-font-3;
        border: none;
    }

    &__date-time {
        padding: 6px 8px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        &--not-overdue{
            @extend .item__date-time;
            @include second-font-5;
        }
        &--overdue{
            @extend .item__date-time;
            @include second-font-6;
        }
    }

    &__date,
    &__time{
        display: flex;
        
        &::before{
            display: block;
            content: "";
            width: 14px;
            height: 14px;
            background-position: center;
            background-repeat: no-repeat;
            
        }
    }
    &__date{
        gap: 4px;
        &::before{
            background-image: url(../../public/calendar_today.svg); 
    }
    
    }
    &__time{
        gap: 6px;
        &::before{
            background-image: url(../../public/schedule.svg);
        }  
    }
    &__edit{
        position: absolute;
        right: var(--gap-3);
        top: var(--gap-3);
        width: 20px;
        height: 20px;
        background-color: transparent;
        background-image: url(../../public/edit-2-line.svg);
        background-position: center;
        background-repeat: no-repeat;
        border: none;
        opacity: 0;
        cursor: pointer;
        &:hover {
            background-color: var(--primary-color-4);
        }
        

    }
    &__delete{
        position: absolute;
        right: calc(var(--gap-3) * 2 + 14px );
        top: var(--gap-3);
        width: 20px;
        height: 20px;
        background-color: transparent;
        background-image: url(../../public/delete-bin-line.svg);
        background-position: center;
        background-repeat: no-repeat;
        border: none;
        opacity: 0;
        cursor: pointer;
        &:hover {
            background-color: var(--primary-color-4);
        }


    }
    &:hover{
        .item__edit{
            opacity: 1;

        }
        .item__delete{
            opacity: 1;

        }
    }
}


.item.dragging {
    position: absolute;
    opacity: 1.0;
    .item__date-time,
    .item__text,
    .item__tag{
        visibility: hidden;
    }

}

.item.clone{
    
    background: var(--primary-color-4);
    .item__date-time,
    .item__text,
    .item__tag{
        visibility: hidden;
    }
}

.ghost {
    opacity: 0.1; /* "Призрак", следующий за курсором */
    transform: rotate(10deg);
    box-sizing: border-box;
}
.insert-placeholder {
    box-sizing: border-box;
    border: 2px dashed #ccc;
    background: var(--primary-color-4);
    .item__date-time,
    .item__text,
    .item__tag,
    .item__edit,
    .item__delete{
        visibility: hidden;
    }
}


