@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "./resetCss.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --font-size-12:12px;
  --line-height-12:16px;

  --font-size-16:16px;
  --line-height-16:20px;

  --font-size-20:20px;
  --line-height-20:24px;

  --font-size-24:24px;
  --line-height-24:32px;

  --font-size-32:32px;
  --line-height-32:32px;

  --font-size-112:112px;
  --line-height-112:112px;

  --gap-8:8px;
  --gap-16:16px;
  --gap-32:32px;

  --content-size: 1120px;
}

body {
  max-width: 100%;
  min-height: 100vh;
  font-family: 'Raleway', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/img/background-main1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  padding: 32px 80px;
  margin: 0;
  box-sizing: border-box;
}

@media (width<=1120px){
:root{
  --font-size-12:10px;
  --line-height-12:12px;

  --font-size-16:12px;
  --line-height-16:16px;

  --font-size-20:14px;
  --line-height-20:16px;

  --font-size-24:16px;
  --line-height-24:20px;

  --font-size-32:22px;
  --line-height-32:22px;

  --font-size-112:56px;
  --line-height-112:56px;

  --gap-8:4px;
  --gap-16:8px;

  --content-size: 960px;
}
}
@media (width<=960px){
  :root{
    --content-size: 838px;
    --gap-32:24px;
  }
}
@media (width<=838px){
  :root{
    --content-size: 720px;
  }
}
@media (width<=720px){
  :root{
    --content-size: 608px;
    --gap-32:16px;
  }
  body{
    padding: 16px;
  }
}
@media (width<=608px){
  :root{
    --content-size: 343px;
  }
}