@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,500;1,14..32,500&family=Kumbh+Sans:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,500;1,14..32,500&family=Kumbh+Sans:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.resours__header {
  display: flex;
  flex-direction: column;
  gap: var(--gap-60);
}
.resours__header-top {
  display: flex;
  flex-direction: column;
  gap: var(--gap-50);
}
.resours__name-caption {
  display: flex;
  flex-direction: column;
  gap: var(--gap-16);
}
.resours__caption {
  font-size: var(--font-size-20);
}
.resours__downloaded-users {
  width: fit-content;
  padding: var(--gap-10) var(--gap-10) var(--gap-10) calc(var(--gap-10) + 15px);
  background: var(--dark-color-08);
  border-radius: var(--border-radius-12);
}
.resours__downloaded-count {
  font-weight: 600;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.03em;
  outline: none;
  font-size: var(--font-size-24);
  color: var(--absolute-color-white);
}
.resours__downloaded-users-block {
  position: relative;
  display: flex;
}
.resours__user {
  width: 50px; /* Размер изображения */
  height: 50px;
  border-radius: 50%; /* Круглая форма */
  box-shadow: 0 0 1px 1px inset var(--dark-color-40); /* Белая рамка */
  position: relative; /* Для наложения */
  margin-left: -15px; /* Отрицательный отступ для перекрытия */
  /* z-index зависит от порядка элемента */
  z-index: auto; /* Браузер сам управляет перекрытием */
}
.resours__header-bottom {
  width: fit-content;
  background: var(--dark-color-10);
  box-shadow: var(--border-dark-15);
  border-radius: var(--border-radius-13);
  padding: var(--gap-30);
  gap: var(--gap-50);
  display: flex;
  flex-direction: row;
}
.resours__main {
  gap: var(--gap-30);
}
.resours__heading {
  display: flex;
  justify-content: space-between;
  gap: var(--gap-20);
}
.resours__heading-name {
  display: inline-block;
  width: 242.5px;
  flex-shrink: 0;
  font-weight: 600;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.03em;
  outline: none;
  font-size: var(--font-size-24);
  white-space: nowrap;
  color: var(--absolute-color-white);
}
.resours__main-img {
  width: 100%;
  height: 332px;
  border-radius: var(--border-radius-12);
}
.resours__total-format {
  display: flex;
  flex-direction: row;
  gap: var(--gap-20);
}
.resours__author-expertise, .resours__format, .resours__total {
  background: var(--dark-color-10);
  box-shadow: var(--border-dark-15);
  border-radius: var(--border-radius-13);
  padding: var(--gap-30);
  display: flex;
  gap: var(--gap-4);
  flex-direction: column;
}
.resours__format {
  flex-direction: row;
  flex-grow: 1;
  gap: var(--gap-20);
  justify-content: space-between;
  white-space: nowrap;
}
.resours__format-text-container {
  display: flex;
  gap: var(--gap-4);
  flex-direction: column;
}
.resours__total-text, .resours__format-text {
  font-weight: 600;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.03em;
  outline: none;
  font-size: var(--font-size-20);
  color: var(--absolute-color-white);
}
.resours__author-expertise-text {
  font-weight: 500;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.03em;
  outline: none;
  font-size: var(--font-size-20);
  color: var(--absolute-color-white);
}

@media (width <= 1600px) {
  .resours__heading-name {
    width: 203px;
  }
  .resours__main-img {
    height: 275px;
  }
}
@media (width <= 1280px) {
  .resours__heading {
    flex-direction: column;
  }
  .resours__main-img {
    height: 169px;
  }
  .resours__total-format {
    flex-direction: column;
  }
}

/*# sourceMappingURL=Resourses.css.map */
