@charset "UTF-8";
.list {
  height: 100%;
  width: 437.33px;
  min-width: 350px;
  background: var(--primary-color-2);
  border-radius: var(--border-radius-1);
  display: flex;
  flex-direction: column;
  padding: var(--gap-2);
  gap: var(--gap-3);
  box-sizing: border-box;
}
.list__name {
  font-size: var(--font-size-2);
  font-weight: 600;
  color: var(--font-color-8);
  line-height: 2.5;
}
.list__block {
  max-height: 65vh;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--gap-4);
  overflow-y: auto;
  overflow-x: hidden;
}
.list__block::-webkit-scrollbar {
  width: 12px; /* Ширина скроллбара */
}
.list__block::-webkit-scrollbar-track {
  background: var(--primary-color-2); /* Цвет дорожки */
}
.list__block::-webkit-scrollbar-thumb {
  background: #191a1e; /* Цвет ползунка */
  border-radius: 5px; /* Скругление углов ползунка */
}
.list__add-button.hidden, .list__yes-button.hidden, .list__no-button.hidden {
  display: none;
}
.list__add-button, .list__yes-button, .list__no-button {
  min-width: 50px;
  border-radius: var(--border-radius-1);
  border: none;
  background: none;
  gap: var(--gap-3);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.list__add-button:hover, .list__yes-button:hover, .list__no-button:hover {
  background: var(--primary-color-4);
}
.list__add-button::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../public/add-line.svg);
}
.list__button-block {
  height: 50px;
  width: 100%;
  display: flex;
}
.list__input {
  min-height: 100px;
  width: auto;
  border: none;
  background: var(--primary-color-3);
  border-radius: var(--border-radius-1);
  display: flex;
}

.item,
.item.clone {
  height: 100%;
  width: 100%;
  background: var(--primary-color-3);
  border-radius: var(--border-radius-1);
  display: flex;
  flex-direction: column;
  gap: var(--gap-4);
  padding: var(--gap-3);
  align-self: flex-start;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
}
.item__tag, .item__tag--highest-priority,
.item.clone__tag--highest-priority, .item__tag--high-priority,
.item.clone__tag--high-priority, .item__tag--medium-priority,
.item.clone__tag--medium-priority, .item__tag--low-priority,
.item.clone__tag--low-priority, .item__date-time, .item__date-time--overdue,
.item.clone__date-time--overdue, .item__date-time--not-overdue,
.item.clone__date-time--not-overdue,
.item.clone__tag,
.item.clone__date-time {
  align-self: flex-start;
  border-radius: var(--border-radius-2);
  border: none;
}
.item__tag, .item__tag--highest-priority,
.item.clone__tag--highest-priority, .item__tag--high-priority,
.item.clone__tag--high-priority, .item__tag--medium-priority,
.item.clone__tag--medium-priority, .item__tag--low-priority,
.item.clone__tag--low-priority,
.item.clone__tag {
  padding: 2px 8px;
}
.item__tag--low-priority,
.item.clone__tag--low-priority {
  font-size: var(--font-size-4);
  font-weight: 600;
  color: var(--font-color-1);
  background-color: var(--secondary-color-1);
  line-height: 1.5;
}
.item__tag--medium-priority,
.item.clone__tag--medium-priority {
  font-size: var(--font-size-4);
  font-weight: 600;
  color: var(--font-color-2);
  background-color: var(--secondary-color-2);
  line-height: 1.5;
}
.item__tag--high-priority,
.item.clone__tag--high-priority {
  font-size: var(--font-size-4);
  font-weight: 600;
  color: var(--font-color-3);
  background-color: var(--secondary-color-3);
  line-height: 1.5;
}
.item__tag--highest-priority,
.item.clone__tag--highest-priority {
  font-size: var(--font-size-4);
  font-weight: 600;
  color: var(--font-color-4);
  background-color: var(--secondary-color-4);
  line-height: 1.5;
}
.item__text,
.item.clone__text {
  font-size: var(--font-size-3);
  font-weight: 400;
  color: var(--font-color-8);
  line-height: 1.5;
  border: none;
}
.item__date-time, .item__date-time--overdue,
.item.clone__date-time--overdue, .item__date-time--not-overdue,
.item.clone__date-time--not-overdue,
.item.clone__date-time {
  padding: 6px 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.item__date-time--not-overdue,
.item.clone__date-time--not-overdue {
  font-size: var(--font-size-4);
  font-weight: 600;
  color: var(--font-color-5);
  background-color: var(--secondary-color-5);
  line-height: 1.5;
}
.item__date-time--overdue,
.item.clone__date-time--overdue {
  font-size: var(--font-size-4);
  font-weight: 600;
  color: var(--font-color-6);
  background-color: var(--secondary-color-6);
  line-height: 1.5;
}
.item__date, .item__time,
.item.clone__date,
.item.clone__time {
  display: flex;
}
.item__date::before, .item__time::before,
.item.clone__date::before,
.item.clone__time::before {
  display: block;
  content: "";
  width: 14px;
  height: 14px;
  background-position: center;
  background-repeat: no-repeat;
}
.item__date,
.item.clone__date {
  gap: 4px;
}
.item__date::before,
.item.clone__date::before {
  background-image: url(../../public/calendar_today.svg);
}
.item__time,
.item.clone__time {
  gap: 6px;
}
.item__time::before,
.item.clone__time::before {
  background-image: url(../../public/schedule.svg);
}
.item__edit,
.item.clone__edit {
  position: absolute;
  right: var(--gap-3);
  top: var(--gap-3);
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: url(../../public/edit-2-line.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  opacity: 0;
  cursor: pointer;
}
.item__edit:hover,
.item.clone__edit:hover {
  background-color: var(--primary-color-4);
}
.item__delete,
.item.clone__delete {
  position: absolute;
  right: calc(var(--gap-3) * 2 + 14px);
  top: var(--gap-3);
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: url(../../public/delete-bin-line.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  opacity: 0;
  cursor: pointer;
}
.item__delete:hover,
.item.clone__delete:hover {
  background-color: var(--primary-color-4);
}
.item:hover .item__edit,
.item.clone:hover .item__edit {
  opacity: 1;
}
.item:hover .item__delete,
.item.clone:hover .item__delete {
  opacity: 1;
}

.item.dragging {
  position: absolute;
  opacity: 1;
}
.item.dragging .item__date-time, .item.dragging .item__date-time--not-overdue,
.item.dragging .item.clone__date-time--not-overdue, .item.dragging .item__date-time--overdue,
.item.dragging .item.clone__date-time--overdue,
.item.dragging .item__text,
.item.dragging .item__tag,
.item.dragging .item__tag--low-priority,
.item.dragging .item.clone__tag--low-priority,
.item.dragging .item__tag--medium-priority,
.item.dragging .item.clone__tag--medium-priority,
.item.dragging .item__tag--high-priority,
.item.dragging .item.clone__tag--high-priority,
.item.dragging .item__tag--highest-priority,
.item.dragging .item.clone__tag--highest-priority {
  visibility: hidden;
}

.item.clone {
  background: var(--primary-color-4);
}
.item.clone .item__date-time, .item.clone .item__date-time--not-overdue,
.item.clone .item.clone__date-time--not-overdue, .item.clone .item__date-time--overdue,
.item.clone .item.clone__date-time--overdue,
.item.clone .item__text,
.item.clone .item__tag,
.item.clone .item__tag--low-priority,
.item.clone .item.clone__tag--low-priority,
.item.clone .item__tag--medium-priority,
.item.clone .item.clone__tag--medium-priority,
.item.clone .item__tag--high-priority,
.item.clone .item.clone__tag--high-priority,
.item.clone .item__tag--highest-priority,
.item.clone .item.clone__tag--highest-priority {
  visibility: hidden;
}

.ghost {
  opacity: 0.1; /* "Призрак", следующий за курсором */
  transform: rotate(10deg);
  box-sizing: border-box;
}

.insert-placeholder {
  box-sizing: border-box;
  border: 2px dashed #ccc;
  background: var(--primary-color-4);
}
.insert-placeholder .item__date-time, .insert-placeholder .item__date-time--not-overdue,
.insert-placeholder .item.clone__date-time--not-overdue, .insert-placeholder .item__date-time--overdue,
.insert-placeholder .item.clone__date-time--overdue,
.insert-placeholder .item__text,
.insert-placeholder .item__tag,
.insert-placeholder .item__tag--low-priority,
.insert-placeholder .item.clone__tag--low-priority,
.insert-placeholder .item__tag--medium-priority,
.insert-placeholder .item.clone__tag--medium-priority,
.insert-placeholder .item__tag--high-priority,
.insert-placeholder .item.clone__tag--high-priority,
.insert-placeholder .item__tag--highest-priority,
.insert-placeholder .item.clone__tag--highest-priority,
.insert-placeholder .item__edit,
.insert-placeholder .item__delete {
  visibility: hidden;
}

/*# sourceMappingURL=list.css.map */
