@import "../mixins/fonts-mixin";
.sidebar{
  width: 256px;
  height: 100vh;
  background: var(--primary-color-2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @include font-16-semi-bold;
  padding: 32px 31px 32px 28px;
  box-sizing: border-box;
  gap: 50px;

  &__logo{
    width: 170px;
    height: 41px;
    display: flex;
    align-items: center;
    gap: var(--gap-20);
    @include font-21-medium;
  }

  &__nav-block{
    display: flex;
    flex-direction: column;
    gap: var(--gap-16);
    flex-grow: 1;
  }

  &__buttons-block{
    display: flex;
    flex-direction: column;
    gap: var(--gap-16);
  }

  &__link,
  &__button{
    width: 197px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: left;
    background: none;
    border: none;
    padding: 13px 19px 12px;
    box-sizing: border-box;
    gap: var(--gap-20);
    border-radius: var(--border-radius-2);
    @include font-14-normal;

    &:hover{
      background: var(--primary-color-3);
      @include font-14-semi-bold;
    }
  }
}