@import "../../styles/mixins/fonts-mixin.scss";

.footer{
  height: fit-content;

  &__nav-bar{
    padding: 0;
    box-shadow: none;
  }


  &__legal-information{
    box-shadow: 0 1px 1px 0px inset var(--gray-color-50);
  }

  &__information{
    padding: var(--gap-20) var(--gap-20);
    @include inter-regular;
    font-size: var(--font-size-18);
    line-height: 1.3em;
    border: none;
  }

  &__information-TAP{
    display: flex;




    *:first-child::after {
      content: "";
      display: inline-block;
      width: 1px;
      height: 100%;
      background-color: var(--gray-color-50);
      margin-left: var(--gap-11);
      margin-right: var(--gap-11);
      vertical-align: middle; /* Устраняет ступеньку */
    }
  }

  &__information-social{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-20);
  }

  &__information-social-link{
    height: 20px;
  }

  &__information-copyrite{

  }
}

@media (width<=800px){
  .footer{
    &__information{
      flex-direction: column;


      &-social{
        order: 1;
      }
      &-TAP {
        order: 2;
      }
      &-copyrite{
        order: 3;
      }
    }
  }
}