@import "./reset.css";
//@import "./mixins/fonts-mixin.scss";
@import "./unitary.css";

:root{
  --absolute-color-white:#FFFFFF;
  --absolute-color-black:#000000;

  --yellow-color-55: #FFD11A;


  --dark-color-08: #141414;


  --gray-color-50: #000000;

  --gray-color-99: #FCFCFD;

  --font-size-80:80px;


  --border-radius-15:15px;


  --gap-120:120px;


}



body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  //@include inter-regular;
  font-size: var(--font-size-18);
  color: var(--gray-color-60);
  background-color: var(--dark-color-08);
  box-sizing: border-box;

}
main{
  width: 100%;
  height: 100%;


}



@media (width<=1920px){
  :root{


  }
}

@media (width<=var(--break-point-2)){
  :root{


  }
}

@media (width<=390px){
  :root{

  }
}

