.content-block {
  position: relative;
  width: 100%;
  min-height: 1750px;
  overflow: hidden;
  mask: url('Group 515.svg') no-repeat;
  -webkit-mask: url('Group 515.svg') no-repeat;/* Для Safari */
}


.content-block-white {
  background: white;
  z-index: 2;
}

.content-block-blue {
  background: blue;
  z-index: 1;
}
