@import "../../mixins/fonts-mixin.scss";
.header{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 30px;
  gap: var(--gap-32);

  &__tag{
    max-width: 182px;
    height: 48px;
    @include font-32-semi-bold;
    display: flex;
    align-items: center;
  }

  &__search{
    flex-grow: 1;
    max-width: 450px;
    height: 44px;
    position: relative;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  &__input{
    position: absolute;
    top: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-2);
    background: var(--primary-color-2);
    padding: 11px 44px 12px 20px;
    box-sizing: border-box;
    @include font-14-normal;

    &:focus-visible{
      border:none;
      outline: none;
    }
  }

  &__search-img{
    position: absolute;
    top:10px;
    right: 20px;
    width: 24px;
    height: 24px;
  }

  &__results {
    top:40px;
    position: absolute;
    background: var(--primary-color-2);
    border-radius: 0 0 var(--border-radius-2) var(--border-radius-2);
    max-height: 270px;
    overflow-y: auto;
    width: 100%;
    @include font-14-normal;
    z-index: 10;
    padding: 0px 20px;

    &::-webkit-scrollbar{
      width: 4px;
      background: var(--primary-color-3);
      color: var(--primary-color-2);
    }

    &::-webkit-scrollbar-thumb{
      color: var(--primary-color-2);
      background: var(--primary-color-4);
    }

  }

  &__result-item {
    cursor: pointer;
    display: flex;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    @include font-14-normal;

    &:hover {
      background-color: var(--primary-color-3);
      color: var(--font-color-1);
      border-radius: var(--border-radius-2);
    }
    &:hover &-button {
      display: block;
    }
  }


  &__result-item-name{

  }

  &__result-item-button{
    background: none;
    border: none;
    display: none;
    @include font-16-semi-bold;
    &:hover{
      color: black;
    }
  }


  &__buttons-block{
    display: flex;
    gap: var(--gap-32);
  }

  &__notifications{
    width: 44px;
    height: 44px;
    border-radius: var(--border-radius-2);
    background: var(--primary-color-2);
    border: none;
  }

  &__account-button{
    display: flex;
    align-items: center;
    gap: var(--gap-20);
    background: none;
    border: none;
  }

  &__account-img{
    width: 44px;
    height: 44px;
    background: var(--secondary-color-4);
    border: none;
    border-radius: var(--border-radius-2);
  }

  &__account-name{
    @include font-14-semi-bold;
  }

  &__account-arrow{
    width: 24px;
    height: 24px;
  }
}

@media (width<600px) {
  .header{
    padding: 30px 24px;
    &__tag{
      display: none;
    }
    &__notifications {
      display: none;
    }
    &__account-img {
      display: none;
    }
  }
}