@import "../../css/mixins/fonts-mixin.scss";

.header{
  letter-spacing: 0;
  height: fit-content;

  &__logo {
    all: unset;
    width: 148.91px;
    height: 40px;
    outline: none;
    box-shadow: none;
    border: none;
    cursor: pointer;
    background-repeat: no-repeat;
  }
  &__logo-icon {
    width: 100%;
    height: 100%;
  }

  &__bar{
    padding: var(--gap-20) var(--gap-20);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__icon{
    color: white;
    fill: whitesmoke;
    transition: fill 0.3s ease;
  }

  &__pages-link{
    display: flex;
    gap: var(--gap-40);
  }

  &__page-link{
    padding: var(--gap-10) var(--gap-20);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    border-radius: var(--border-radius-10);
    outline: none;
    color: var(--gray-color-50);
    box-sizing: border-box;
    @include inter-medium;
    font-size: var(--font-size-18);

    &:hover{
      background: var(--dark-color-08);
      box-shadow: var(--border-dark-20);
      color: var(--absolute-color-white);
    }

  }

  &__more-options{
    display: none;
    background: none;
    border: none;
    color: var(--absolute-color-white);
  }

  &__contact{
    padding: var(--gap-10) var(--gap-20);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: var(--yellow-color-55);
    border-radius: var(--border-radius-10);
    outline: none;
    color: var(--dark-color-08);
    box-sizing: border-box;
    @include inter-medium;
    font-size: var(--font-size-18);
  }

  &__mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: flex-end;
    z-index: 999;
    transition: right 0.5s ease-in-out;

    &.open{
      right: 0;
    }
    &.close{
      right: 800px;
    }
  }

  &__mobile-menu-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  &__mobile-menu-content {
    position: relative;
    width: 75%;
    max-width: 300px;
    height: 100%;
    background: var(--dark-color-08);
    box-shadow: 1px 0 0px 0px inset var(--dark-color-15);
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  &__mobile-menu-close {
    align-self: flex-end;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--gray-color-60);
  }

  &__mobile-link {
    margin-bottom: 10px;
    font-size: 1rem;
    color: var(--gray-color-60);
    text-decoration: none;
    padding: 10px 0;
    border-bottom: 1px solid var(--gray-color-60);
    display: block;
    cursor: pointer;

    &:hover {
      color: #007BFF;
    }
  }

}


@media (width<=1600px){
  .header {
    &__logo {
      width: 123.13px;
      height: 30px;
    }
  }
}

@media (width<=800px){
  .header {
    &__pages-link{
      display: none;
    }
    &__contact{
      display: none;
    }
    &__more-options {
      display: block;
    }
    &__mobile-menu{
      display: flex;
    }
  }
}