@import "../../mixins/fonts-mixin.scss";

@mixin block($width,$height,$border-radius,$background,$padding){
  width: $width;
  height: $height;
  border-radius: $border-radius;
  background: $background;
  display: flex;
  flex-direction: column;
  padding: $padding;
}


.main{
  padding: 40px 32px 28px 30px;
  box-sizing: border-box;

  &__grid{
    display: grid;
    grid-template-rows: 178px 180px 230px 173px;
    grid-auto-columns: 355px 739px;
    gap: 32px 30px;
  }

  &__slider{
    grid-row: span 1;
    grid-column: span 2;
  }

  &__portfolio{
    grid-row: span 3;
  }

  &__chart{
    grid-row: span 2;
  }

  

  &__name{
    @include font-21-semi-bold;
  }
}