@charset "UTF-8";
.main {
  padding: 40px 32px 28px 30px;
  box-sizing: border-box;
}
.main__grid {
  display: grid;
  grid-template-rows: 178px 180px 230px 173px;
  grid-auto-columns: 355px 739px;
  gap: 32px 30px;
}
.main__slider {
  grid-row: span 1;
  grid-column: span 2;
  width: 100%;
  gap: var(--gap-2);
  display: flex;
  align-items: center;
  position: relative;
}
.main__slider-left-button, .main__slider-right-button {
  position: absolute;
  right: 0;
  flex-grow: 0;
  width: 56px;
  height: 48px;
  padding: 12px 16px 12px 16px;
  gap: 10px;
  border-radius: var(--border-radius-2);
  border: none;
  box-sizing: border-box;
  background: url("../../public/chevron.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
}
.main__slider-left-button:hover:not(:disabled), .main__slider-right-button:hover:not(:disabled) {
  background-color: rgb(218, 218, 218);
}
.main__slider-left-button:disabled, .main__slider-right-button:disabled {
  opacity: 0.5;
}
.main__slider-left-button {
  left: 0px;
  transform: rotate(180deg);
}
.main__slider-list {
  display: grid;
  grid-auto-flow: column; /* Элементы располагаются в одной строке */
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: auto;
  grid-template-rows: 178px;
  gap: var(--gap-30);
  grid-template-columns: repeat(4, 258px);
}
.main__slider-mask-gradient {
  width: fit-content;
  width: 50%;
  flex-grow: 1;
  height: 100%;
  gap: 0px;
  mask-image: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, #000000 3.64%, #000000 96.36%, rgba(0, 0, 0, 0) 100%);
}
.main__slider-mask-gradient-overlay {
  width: 100%;
  height: 100%;
  left: 88px;
  gap: 0px;
}
.main__slider-list-item {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-1);
  background: var(--primary-color-2);
  display: flex;
  flex-direction: column;
  padding: 23px 18px 24px 19px;
  display: grid;
  gap: var(--gap-20);
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 44px 27px 59px 32px;
}
.main__slider-item-icon {
  grid-column: span 1;
  width: 44px;
  height: 44px;
  border-radius: var(--border-radius-1);
  background: var(--primary-color-1);
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.main__slider-item-name {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  gap: var(--gap-6);
}
.main__slider-item-name--full {
  font-size: var(--font-size-16);
  font-weight: 600;
  color: var(--font-color-1);
  line-height: normal;
}
.main__slider-item-name--short {
  font-size: var(--font-size-12);
  font-weight: 400;
  color: var(--font-color-1);
  line-height: normal;
}
.main__slider-item-arrow-block {
  grid-column: span 1;
  grid-row: span 1;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: right;
}
.main__slider-item-price {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  gap: var(--gap-12);
}
.main__slider-item-price--current {
  font-size: var(--font-size-21);
  font-weight: 600;
  color: var(--font-color-2);
  line-height: normal;
}
.main__slider-item-price--different-up {
  font-size: var(--font-size-14);
  font-weight: 600;
  color: var(--font-color-1);
  line-height: normal;
  color: var(--font-color-4);
}
.main__slider-item-price--different-down {
  font-size: var(--font-size-14);
  font-weight: 600;
  color: var(--font-color-1);
  line-height: normal;
  color: var(--font-color-5);
}
.main__slider-item-graph {
  grid-column: span 2;
}
.main__portfolio {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-1);
  background: var(--primary-color-2);
  display: flex;
  flex-direction: column;
  padding: 30px 30px 32px 30px;
  grid-row: span 3;
  gap: var(--gap-24);
  overflow-y: auto;
}
.main__portfolio::-webkit-scrollbar {
  width: 4px;
  background: var(--primary-color-3);
  color: var(--primary-color-2);
}
.main__portfolio::-webkit-scrollbar-thumb {
  color: var(--primary-color-2);
  background: var(--primary-color-4);
}
.main__portfolio-item {
  display: flex;
  gap: var(--gap-16);
}
.main__portfolio-item-icon {
  position: absolute;
  width: 44px;
  height: 44px;
  padding: 10px;
  top: 0;
  left: 0;
  object-fit: cover;
}
.main__portfolio-item-button {
  width: 44px;
  height: 44px;
  border-radius: var(--border-radius-1);
  background: var(--primary-color-1);
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: none;
  min-width: 44px;
  min-height: 44px;
  position: relative;
  overflow: hidden;
}
.main__portfolio-item-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease;
  background-image: url("../../public/delete-bin-2-line.svg");
}
.main__portfolio-item-button:hover::after {
  opacity: 1;
}
.main__portfolio-item-text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: var(--gap-16);
}
.main__portfolio-item-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main__portfolio-item-main--name {
  font-size: var(--font-size-16);
  font-weight: 500;
  color: var(--font-color-1);
  line-height: normal;
}
.main__portfolio-item-main--price {
  font-size: var(--font-size-14);
  font-weight: 400;
  color: var(--font-color-3);
  line-height: normal;
}
.main__portfolio-item-support {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
}
.main__portfolio-item-support--different-up {
  font-size: var(--font-size-12);
  font-weight: 400;
  color: var(--font-color-1);
  line-height: normal;
  color: var(--font-color-4);
}
.main__portfolio-item-support--different-down {
  font-size: var(--font-size-12);
  font-weight: 400;
  color: var(--font-color-1);
  line-height: normal;
  color: var(--font-color-5);
}
.main__portfolio-item-support--price {
  font-size: var(--font-size-14);
  font-weight: 600;
  color: var(--font-color-1);
  line-height: normal;
}
.main__chart {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-1);
  background: var(--primary-color-2);
  display: flex;
  flex-direction: column;
  padding: 30px 24px 28px 30px;
  grid-row: span 2;
  gap: var(--gap-24);
}
.main__chart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__chart-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__chart-menu--left {
  display: flex;
  flex-direction: column;
}
.main__chart-menu--right {
  display: flex;
  flex-direction: row;
  gap: var(--gap-10);
}
.main__chart-coin-select {
  font-size: var(--font-size-14);
  font-weight: 400;
  color: var(--font-color-3);
  line-height: normal;
  background: none;
}
.main__chart-coin-price {
  font-size: var(--font-size-18);
  font-weight: 500;
  color: var(--font-color-1);
  line-height: normal;
}
.main__chart-button {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-1);
  background: var(--primary-color-2);
  display: flex;
  flex-direction: column;
  padding: 0px 15px 0px 15px;
  border: 1px solid #31353F;
  font-size: var(--font-size-10);
  font-weight: 500;
  color: var(--font-color-2);
  line-height: normal;
  line-height: 22px;
}
.main__chart-button:hover {
  background: var(--primary-color-3);
}
.main__live-market {
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-1);
  background: var(--primary-color-2);
  display: flex;
  flex-direction: column;
  padding: 30px 24px 25px 30px;
  gap: var(--gap-20);
}
.main__live-market-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: var(--gap-12) 0;
}
.main__live-market-grid-item--atribute-name {
  font-size: var(--font-size-12);
  font-weight: 400;
  color: var(--font-color-1);
  line-height: normal;
}
.main__live-market-grid-item--standard-value {
  font-size: var(--font-size-14);
  font-weight: 400;
  color: var(--font-color-3);
  line-height: normal;
}
.main__live-market-grid-item--change-value {
  font-size: var(--font-size-14);
  font-weight: 500;
  color: var(--font-color-1);
  line-height: normal;
  color: var(--font-color-4);
}
.main__live-market-grid-item--coin-value {
  font-size: var(--font-size-14);
  font-weight: 500;
  color: var(--font-color-1);
  line-height: normal;
  gap: var(--gap-10);
  display: flex;
  align-items: center;
}
.main__live-market-grid-item--coin-icon {
  width: 32px;
  height: 32px;
}
.main__name {
  font-size: var(--font-size-21);
  font-weight: 600;
  color: var(--font-color-2);
  line-height: normal;
}

/*# sourceMappingURL=main.css.map */
