@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,500;1,14..32,500&family=Kumbh+Sans:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,500;1,14..32,500&family=Kumbh+Sans:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.projects {
  display: flex;
  flex-direction: column;
  gap: var(--gap-24);
  padding: var(--gap-24) var(--gap-16) var(--gap-16);
}
.projects__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--gap-24);
  justify-content: space-between;
  transition: max-height 2s ease;
  max-height: calc((350px + var(--gap-24)) * 2);
  overflow: hidden;
}
.projects__list--show {
  max-height: calc-size(max-content, size);
}
.projects__show-more {
  background: var(--dark-color-08);
  border-radius: 8px;
  border: 1px solid #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: var(--gap-24);
  color: var(--gray-color-60);
  cursor: pointer;
  align-self: center;
  justify-self: center;
  width: 80%;
}
.projects__show-more:hover {
  color: var(--absolute-color-white);
}
.projects__project {
  display: flex;
  max-width: 350px;
  flex-direction: column;
  border: 1px solid #333;
  background: var(--dark-color-08);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: relative;
  height: 350px;
  overflow: hidden;
}
.projects__project:hover .projects__img {
  height: 40px;
}
.projects__img {
  width: 100%;
  flex-shrink: 0;
  height: 120px;
  object-fit: cover;
  transition: height 1.3s ease;
  overflow: hidden;
}
.projects__overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 1;
  pointer-events: none;
  width: 100%;
  height: 120px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
}
.projects__name-title {
  color: var(--gray-color-90);
  white-space: nowrap;
}
.projects__badges {
  display: flex; /* Используйте flex для расположения значков */
  gap: var(--gap-8); /* Отступы между значками */
  z-index: 2; /* Обеспечьте, чтобы значки были поверх описания */
}
.projects__badge {
  width: 24px;
  height: 24px;
}
.projects__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--gap-8);
  padding: 20px;
  transition: height 1s ease;
  box-shadow: 0 1px 0px 0px inset var(--dark-color-15);
  flex-grow: 1;
  overflow: hidden;
  z-index: 1;
}
.projects__description-text {
  display: -webkit-box; /* Установка отображения в виде блочной модели для обрезки */
  -webkit-box-orient: vertical; /* Вертикальная ориентация */
  overflow: hidden; /* Скрытие переполнения */
  text-overflow: ellipsis; /* Добавление многоточия */
  transition: max-height 0.3s ease;
}
.projects__description-date {
  transition: max-height 0.3s ease;
}
.projects__links-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projects__link {
  width: 30%;
  max-width: 129px;
  padding: var(--gap-8);
  color: var(--gray-color-60);
  background: var(--dark-color-08);
  border-radius: 8px;
  border: 1px solid #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
}
.projects__link:hover {
  color: var(--absolute-color-white);
}

@media (width <= 1600px) {
  .projects__project {
    max-width: 300px;
  }
}
@media (width <= 1280px) {
  .projects__list {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap-24);
    justify-content: space-between;
    max-height: calc((350px + var(--gap-24)) * 3);
  }
  .projects__list--show {
    max-height: calc-size(max-content, size);
  }
}
@media (width < 600px) {
  .projects__list {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    gap: var(--gap-24);
    justify-content: space-between;
    max-height: calc((350px + var(--gap-24)) * 3);
  }
  .projects__list--show {
    max-height: calc-size(max-content, size);
  }
}

/*# sourceMappingURL=Projects.css.map */
