.slider {
  &__left-button,
  &__right-button{
    @apply flex-grow-0 px-4 py-3 gap-[10px] rounded-lg box-border border-none bg-[url('/chevron.svg')] bg-[#F5F4F466] bg-no-repeat bg-center w-[40px] h-[32px] lg:w-[56px] lg:h-[48px];

    &:focus{
      outline: none;
    }

    &:hover:not(:disabled){
      background-color: rgba(218, 218, 218, 1);
    }

    &:disabled{
      opacity: 0.5;
    }
  }
  &__left-button{
    transform: rotate(180deg);
  }

  &__mask-gradient{
    @apply w-[50%] relative flex-grow h-full;
    mask-image: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, #000000  3.64%, #000000  96.36%, rgba(0, 0, 0, 0) 100%);
  }

}

