@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "./resetCss.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --content-size: 1120px;
}

body {
  @apply max-w-full min-h-dvh flex items-center justify-center bg-hero-pattern bg-cover bg-no-repeat bg-fixed bg-center m-0 p-4 lg:px-20 lg:py-8;
  font-family: 'Raleway', sans-serif;
}

@media (width<=1120px){
:root{
  --content-size: 960px;
}
}
@media (width<=960px){
  :root{
    --content-size: 838px;
  }
}
@media (width<=838px){
  :root{
    --content-size: 720px;
  }
}
@media (width<=720px){
  :root{
    --content-size: 608px;
  }
}
@media (width<=608px){
  :root{
    --content-size: 343px;
  }
}