@import "../../../mixins/fonts-mixin.scss";

.code-block {
    background-color: #1e1e1e;
    border: 1px solid #333;
    border-radius: 8px;
    padding: 16px;
    font-family: 'Consolas', 'Courier New', monospace;
    color: #d4d4d4;
    line-height: 1.5em;
    white-space: pre-wrap;
    word-break: break-word;
    width: 100%;
    border: 1px solid #333;
    background: var(--secondary-color-2);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: auto;
    max-height: 80vh;
    font-size: 16px;

    /* Стили для скроллбара WebKit-браузеров (Chrome, Safari, Edge) */
    &::-webkit-scrollbar {
        width: 6px; /* Тонкий скроллбар */
        height: 6px;
    }

    &::-webkit-scrollbar-track {
        background: transparent; /* Прозрачный трек */
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent; /* Прозрачный, почти невидимый */
        border-radius: 10px;
        transition: background-color 0.3s ease; /* Плавное появление */
    }

    &:hover::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.5); /* Более заметный при наведении */
    }

    /* Для поддержки плавного скрытия скроллбара на мобильных устройствах */
    


    &__selector {
        color: #569CD6; /* Цвет селекторов */
    }
    
    &__property {
        color: #9CDCFE; /* Цвет свойств */
    }
    
    &__value {
        color: #CE9178; /* Цвет значений */
    }
    
    &__punctuation {
        color: #D4D4D4; /* Цвет для двоеточий и фигурных скобок */
    }

    &__indent-1,
    &__indent-2,
    &__indent-3 {
        display: inline-block; /* Поменять на блочный элемент */
        padding-left: 32px;
    }

}

.code-block[contenteditable="true"] {
    outline: none;
    caret-color: #ffffff;
    
    font-weight: normal;
}
@media (width<=1400px){
    .code-block{
        font-size: 14px;
        padding: 8px;

        &__indent-1,
        &__indent-2,
        &__indent-3 {
            padding-left: 24px;
    }
    }
       
    
}

@media (width<=1000px){
    .code-block{
        font-size: 10px;

        &__indent-1,
        &__indent-2,
        &__indent-3 {
            padding-left: 16px;
        } 
    }
      

}

