@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "./mixins/fonts-mixin.scss";

:root{
    --primary-color-1:#3179BA;
    --primary-color-2:#DDDFE7;
    --primary-color-3:#FFFFFF;
    --primary-color-4:#d3d3d3;

    --secondary-color-1:#46F7B7;
    --secondary-color-2:#F5EB88;
    --secondary-color-3:#FFA775;
    --secondary-color-4:#F27F77;
    --secondary-color-5:#F7F7F7;
    --secondary-color-6:#FFE7E7;

    --font-color-1:#096343;
    --font-color-2:#653408;
    --font-color-3:#622808;
    --font-color-4:#5F0F0B;
    --font-color-5:#646570;
    --font-color-6:#CC0707;
    --font-color-7:#FFFFFF;
    --font-color-8:#1B1C1D;


    --shadow-color-1:#4444dd79;
    --shadow-color-2: #ededed;
    --shadow-color-2:rgba(0, 0, 0, 0.3);

    --font-size-1:32px;
    --font-size-2:18px;
    --font-size-3:14px;
    --font-size-4:10px;

    --border-radius-1:4px;
    --border-radius-2:2px;

    --gap-1:48px;
    --gap-2:24px;
    --gap-3:16px;
    --gap-4:12px;

}


body {
    display: flex;
    flex-direction: column;
    padding: var(--gap-1);
    width: 100%;
    height: 100%;
    font-family: "Inter", sans-serif;
    @include main-font-1;
    background-color: var(--primary-color-1);
    box-sizing: border-box;

}

@media (width<=800px){
    :root{
        --font-size-1:26px;
        --font-size-2:24px;
        --font-size-3:16px;
        --font-size-4:14px;
    }
}

