@mixin font-30-normal{
    font-size: var(--font-size-30);
    font-weight: 400;
    color: var(--secondary-color-4);
}

@mixin font-30-normal-unactive{
    font-size: var(--font-size-30);
    font-weight: 400;
    color: var(--secondary-color-3);
}

@mixin font-24-normal{
    font-size: var(--font-size-24);
    font-weight: 400;
    color: var(--secondary-color-4);
}

@mixin font-24-normal-unactive{
    font-size: var(--font-size-24);
    font-weight: 400;
    color: var(--secondary-color-3);
}

@mixin font-18-normal{
    font-size: var(--font-size-18);
    font-weight: 400;
    color: var(--secondary-color-4);
}

@mixin font-18-normal-unactive{
    font-size: var(--font-size-18);
    font-weight: 400;
    color: var(--secondary-color-3);
}

@mixin font-16-normal{
    font-size: var(--font-size-16);
    font-weight: 400;
    color: var(--secondary-color-4);
}

@mixin font-16-normal-unactive{
    font-size: var(--font-size-16);
    font-weight: 400;
    color: var(--secondary-color-3);
}


@mixin code-font{
    font-size: var(--code-font-size);
    font-weight: 400;
    color: #d4d4d4;
    font-family: 'Consolas', 'Courier New', monospace;
    line-height: 1.5em;
    outline: none;
    caret-color: #ffffff;
    font-size: 16px;
    font-weight: normal;
}