@mixin main-font-1{
    font-size: var(--font-size-1);
    font-weight: 400;
    color: var(--secondary-color-4);
}

@mixin main-font-1-unactive{
    font-size: var(--font-size-1);
    font-weight: 400;
    color: var(--secondary-color-3);
}

@mixin main-font-2{
    font-size: var(--font-size-2);
    font-weight: 400;
    color: var(--secondary-color-4);
}

@mixin main-font-2-unactive{
    font-size: var(--font-size-2);
    font-weight: 400;
    color: var(--secondary-color-3);
}

@mixin main-font-3{
    font-size: var(--font-size-3);
    font-weight: 400;
    color: var(--secondary-color-4);
}

@mixin main-font-3-unactive{
    font-size: var(--font-size-3);
    font-weight: 400;
    color: var(--secondary-color-3);
}

@mixin main-font-4{
    font-size: var(--font-size-4);
    font-weight: 400;
    color: var(--secondary-color-4);
}

@mixin code-font{
    font-size: var(--code-font-size);
    font-weight: 400;
    color: #d4d4d4;
    font-family: 'Consolas', 'Courier New', monospace;
    line-height: 1.5em;
    outline: none;
    caret-color: #ffffff;
    font-size: 16px;
    font-weight: normal;
}