.header {

  &__search-input {
    @apply w-full bg-[#F5F4F466] border-none text-16 font-normal text-left rounded-lg p-[8px_40px_8px_12px] box-border outline-none lining-nums lg:p-[12px_44px_12px_16px] lg:text-20;

    &--typing{
      background: rgba(218, 218, 218, 1);
    }
    &:active{
      background: rgba(218, 218, 218, 1);
    }
    &--filled{
      background: rgba(245, 244, 244, 0.4);
    }
    &:hover {
      background: rgba(218, 218, 218, 1);
    }
  }

  &__search-button {
    @apply absolute right-3 top-2 w-5 h-5 block bg-[url('/img/search.svg')] bg-contain border-none lg:right-4 lg:top-3 lg:w-6 lg:h-6;

    &--alt{
      background: url("/img/close.svg") no-repeat center;
      &:hover{
        background: url("/img/altClose.svg") no-repeat center;
      }
    }
    &:focus {
      outline: none; /* Убирает обводку при фокусе */
    }

  }

}
