.ProjectsLayout{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;


  &__content {
    position: relative; /* Чтобы псевдоэлемент позиционировался относительно блока */
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;

  }

  &__scroll-section {
    position: relative;
    flex-grow: 1;
    flex: 1;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: var(--gap-24);

    &::-webkit-scrollbar {
      width: 12px; /* Ширина скроллбара */
    }

    &::-webkit-scrollbar-track {
      background: var(--primary-color-2); /* Цвет дорожки */
    }

    &::-webkit-scrollbar-thumb {
      background: #191a1e; /* Цвет ползунка */

      border-radius: 5px; /* Скругление углов ползунка */
    }
  }


  &__main{
    height: fit-content;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }

  &__buttons{
    position: fixed;
    background: none;
    z-index: 999;
    bottom: 2dvh;
    width: calc(100% - 20px);
    right: 20px;
    display: flex;
    justify-content: space-between;
    padding: var(--gap-32);
  }

  &__button{
    cursor: pointer;
    padding: var(--gap-16);
    box-shadow: var(--border-dark-20);
    border: none;
    border-radius: var(--border-radius-15);
    background: var(--dark-color-08);
    color: var(--gray-color-90);
    display: flex;
    flex-direction: row;
    transition: width 1s ease-in-out;
    align-items: center;

    &:hover{
      .Layout__button-text{
        width: calc-size(max-content, size);
      }
    }
  }

  &__button-text{
    width: 0;
    overflow: hidden;
    transition: width 0.5s ease-in-out;
  }

}
@media (width<=1280px){
  .ProjectsLayout{
    padding: 0;

    &__main{
      flex-grow: 1;
    }

    &__content{
      height: auto;
      min-height: 100dvh;
      width:100%;
      &::before {
      box-shadow: none;
      }
    }
  }

}
@media (width<=600px){
  .ProjectsLayout{
    padding: 0;
    flex-direction: column;
    padding: 0;
    background: none;

    &__buttons{
      position: static;
      background: none;
      z-index: 999;
      bottom: 2dvh;
      width: calc(100% - 20px);
      right: 20px;
      padding:0;
    }

    &__button-text{
      width: auto;
    }
  }

}