@import "../../mixins/fonts-mixin.scss";

header{
    width: 72px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 2;
    background: var(--primary-color-2);
    box-shadow: 1px 0px 0 hsl(0 calc(1 * 0%) 0.8% / 0.2), 0 1.5px 0 hsl(240 calc(1 * 7.7%) 2.5% / 0.05), 0 2px 0 hsl(0 calc(1 * 0%) 0.8% / 0.05);

    

    
    .nav-block {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;
    
        &__link {
            width: 64px;
            height: 64px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative; // Позиционирование для псевдоэлемента ::before
            overflow: hidden; // Скрываем выходящие элементы
            background: none;
            border: none;
            cursor: pointer;
        }
    
        &__img {
            border: 1px solid #333;
            background: var(--secondary-color-2);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
            width: 48px;
            height: 48px;
            padding: 1vh;
            border-radius: 50%;
            transition: border-radius 0.5s ease;
            filter: drop-shadow(2px 1px 4px var(--shadow-color-1));
        }
    
        &__img:hover {
            border-radius: 30%;
        }
    
        &__link::before {
            content: "";
            position: absolute;
            left: -5px;
            top: 25%;
            height: 50%;
            width: 0; // Начальная ширина
            background-color: var(--secondary-color-4);
            transition: width 0.5s ease; // Плавный переход ширины
            border-radius: 0 50% 50% 0;
            filter: drop-shadow(5px 1px 10px var(--shadow-color-1));
             // Округление правого края
        }
    
        &__link:hover::before {
            width: 1vh; // Увеличиваем ширину полоски при наведении
            
        }

        &__hiding-button-block {
            position: absolute;
            z-index: -10;
            left: -10px; // Измените это значение, чтобы сместить кнопку вправо от границы
            content: "";
            width: 90px;
            height: 200px;
            border-radius: 0 50% 50% 0;
            border: none;
            background-color: var(--primary-color-1);
            display: none;
            align-items: center;
            justify-content: right;

            .nav-block{
                &__img{
                    transform :rotate(180deg);
                    background: none;
                }
                &__link{
                    padding: 0px;
                    justify-content: right;
                }
            }


            
                
            
        }
        &__hiding-button{

            
        }
        
    }
    
    
}
header.hiding{ 
    left: 0;
    .nav-block__img {
        transform :rotate(0deg);
    }
}


@media (width<=1400px) {
    header{
        width: 52px;

        .nav-block{


            &__link {
                width: 48px;
                height: 48px;
            }
        
            &__img {
                background-color: var(--primary-color-3);
                width: 32px;
                height: 32px;
                padding: 0.5vh;
            }
        }
    }
}

@media (width<=1000px) {
    header{
        width: 100%;
        height: auto;
        
        .nav-block{
            flex-direction: row;

            &__link::before {
                content: "";
                position: absolute;
                top: -5px;
                left: 25%;  
                width: 50%;
                height: 0; // Начальная ширина
                background-color: var(--secondary-color-4);
                transition: height 0.5s ease; // Плавный переход ширины
                border-radius: 0 0 50% 50%;
                filter: drop-shadow(5px 1px 10px var(--shadow-color-1));
                 // Округление правого края
            }
        
            &__link:hover::before {
                height: 1vh; // Увеличиваем ширину полоски при наведении
                width: 50%;
            }
        }
    }
}