@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,500;1,14..32,500&family=Kumbh+Sans:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,500;1,14..32,500&family=Kumbh+Sans:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.heading {
  display: flex;
  flex-direction: column;
}
.heading__main {
  display: flex;
  flex-direction: column;
  gap: var(--gap-100);
  padding: 0;
}
.heading__main-block {
  display: flex;
  justify-content: end;
  align-self: end;
  padding: 0;
}
.heading__main-block-text {
  display: flex;
  flex-direction: column;
  width: 893px;
  margin: var(--gap-150) var(--gap-50) 0 0;
}
.heading__main-quote {
  font-weight: 500;
  font-family: "Kumbh Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.03em;
  outline: none;
  font-size: var(--font-size-30);
  color: var(--border-dark-40);
}
.heading__main-titel {
  font-weight: 500;
  font-family: "Kumbh Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.03em;
  outline: none;
  font-size: var(--font-size-70);
  color: var(--absolute-color-white);
}
.heading__main-caption {
  color: var(--gray-color-50);
}
.heading__company-stats {
  box-shadow: 0 -1px var(--dark-color-15), 0 1px var(--dark-color-15);
  width: 100%;
  justify-content: end;
}
.heading__stats {
  width: 247.67px;
  display: flex;
  flex-direction: column;
  gap: var(--gap-10);
  padding: var(--gap-50) 0;
}
.heading__stats-count {
  font-weight: 600;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.03em;
  outline: none;
  font-size: var(--font-size-40);
  color: var(--absolute-color-white);
}
.heading__stats-count:after {
  content: " +";
  color: var(--yellow-color-55);
}
.heading__extra {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: var(--gap-30);
  align-items: start;
  padding: var(--gap-80) 0 var(--gap-80) var(--gap-80);
  clip-path: inset(0);
}
.heading__extra-block {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: var(--gap-30);
  overflow: hidden;
  width: 573px;
  z-index: 2;
}
.heading__image {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  z-index: 0; /* Чтобы фон или другие элементы не перекрывали изображение */
  clip: auto;
  opacity: 1; /* Немного уменьшить прозрачность */
  mix-blend-mode: screen; /* Усиливает свечение */
  filter: blur(0.5px) brightness(1.5); /* Добавляет мягкое размытие и усиливает яркость */
  transform: translateZ(0);
  /* Быстрое затухание */
  mask-image: radial-gradient(circle, rgba(0, 0, 0, 0.2) 10%, rgb(0, 0, 0) 30%, rgba(0, 0, 0, 0.1) 40%);
  mask-position: 100% 100%; /* Смещение вверх */
  mask-size: 200% 200%; /* Пропорции маски */
  mask-repeat: no-repeat;
}
.heading__extra-users {
  width: fit-content;
  padding: var(--gap-10) var(--gap-10) var(--gap-10) calc(var(--gap-10) + 15px);
  background: var(--dark-color-10);
  border-radius: 100px;
  box-shadow: var(--border-dark-15);
}
.heading__extra-users-block {
  position: relative;
  display: flex;
}
.heading__extra-user {
  width: 50px; /* Размер изображения */
  height: 50px;
  border-radius: 50%; /* Круглая форма */
  box-shadow: 0 0 1px 1px inset var(--dark-color-40); /* Белая рамка */
  position: relative; /* Для наложения */
  margin-left: -15px; /* Отрицательный отступ для перекрытия */
  /* z-index зависит от порядка элемента */
  z-index: auto; /* Браузер сам управляет перекрытием */
}
.heading__extra-titel {
  font-weight: 500;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.03em;
  outline: none;
  font-size: var(--font-size-24);
  color: var(--absolute-color-white);
}
.heading__advantage {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-30);
  padding: var(--gap-50) 0;
}
.heading__advantage-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading__advantage-text {
  display: flex;
  flex-direction: column;
  gap: var(--gap-4);
}
.heading__advantage-name {
  font-weight: 500;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.03em;
  outline: none;
  font-size: var(--font-size-20);
  color: var(--absolute-color-white);
}
.heading__advantage-second-caption {
  font-weight: 400;
  font-family: "Kumbh Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.03em;
  outline: none;
  font-size: var(--font-size-20);
}

@media (width <= 1600px) {
  .heading__main-block-text {
    width: 717px;
  }
  .heading__extra-block {
    width: 473px;
  }
  .heading__stats {
    width: 199px;
  }
}
@media (width <= 1280px) {
  .heading__top-block {
    flex-direction: column;
  }
  .heading__main-block-text {
    width: 100%;
  }
  .heading__extra-block {
    width: 100%;
  }
  .heading__stats {
    width: 98px;
  }
  .heading__company-stats {
    flex-direction: row;
    padding: 0;
  }
  .heading__company-stats > * {
    position: relative;
    padding: var(--gap-50) 0;
  }
  .heading__company-stats > *:not(:last-child) {
    display: flex;
    justify-content: center;
  }
  .heading__company-stats > *:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 0;
    right: calc(-1 * var(--gap-50));
    width: 2px;
    height: 100%;
    box-shadow: var(--border-dark-15);
  }
}

/*# sourceMappingURL=Home.css.map */
