@use '../_variables' as *;

.create-product-page {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 400px;
  margin: 0 auto;

  &__label {
    font-weight: bold;
  }

  &__input,
  &__textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid $dark-gray;
    border-radius: $border-radius;
  }

  &__button {
    background: $secondary-color;
    color: white;
    padding: 8px 16px;
    border-radius: $border-radius;
    font-weight: bold;
    cursor: pointer;
  }
}
